h1 {
	color: gray;
	text-shadow: none;
}

h1 > b {
	color: black;
	font-weight: normal;
}

#layers {
	width: 300px;
	font-family: Courier, monospace;
	font-weight: normal;
	text-align: center;
	float:left;
}

.layer {
	padding: 10px;
	margin: 4px 0;
	font-size: 32px;
	cursor: pointer;
}

.glue {
	font-size: 20px;
	color: gray;
}

#info {
	padding-top: 24px;
	font-family: Courier, monospace;
	float: left;
}