body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var,optgroup{font-style:inherit;font-weight:inherit;}del,ins{text-decoration:none;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:baseline;}sub{vertical-align:baseline;}legend{color:#000;}input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;}input,button,textarea,select{*font-size:100%;}/* global declarations */

#site-content {
	position: relative;
	top: 20px;
	max-width:800px;
	margin-left: auto;
	margin-right: auto;
}

@font-face {
    font-family: 'League Gothic';
    src: url('font/leaguegothic-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

h1, h2, h3 { 
	font-family: 'League Gothic', Arial;
	text-transform: uppercase; 
	color: black;
}

h1 { font-size: 46px; text-shadow: -2px 2px 2px #d7d7d7; }
h2 { font-size: 30px; margin-top: 6px; }
p { font: 12px Arial; }

.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

.row { position: relative; padding-top: 4px; }
.pixel { display:block; width:10px; height:14px; float:left; margin-left:4px; border:solid 4px transparent; }
.front { 
	border: solid 4px magenta; 
	background: white; 
	opacity: 1;
	box-shadow: -3px 3px 0px lime, -6px 6px 0px black;
}

#logo { display: inline-block; }
#logo-sqoosh { display: inline-block;}
#logo-name { 
	font: 104px 'Yanone Kaffeesatz'; text-transform: uppercase; color: black; 
	text-shadow: -4px 4px 0px #d7d7d7;
	margin-left: 6px;
}

#manifest { margin: -10px 0 0 100px; }
